.centered {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(61, 140, 146);
}

.bg-pattern {
  position: fixed;
  width: 100vw;
}

.bg-pattern-top {
  left: 0;
  top: 0;
  transform: translate(-50%, -70%);
}

.bg-pattern-bottom {
  right: 0;
  bottom: 0;
  transform: translate(30%, 70%);
}

.main-container {
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  z-index: 10;
}

.main-container-top {
  height: 130px;
}

.metrics-container {
  padding: 16px 24px;
  display: flex;
  justify-content: space-between;
  border-top: 2px solid rgba(0, 0, 0, 0.208);
}

.metric {
  padding: 0 15px;
}

.output {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.727);
  font-weight: bold;
  margin: 0;
  margin-bottom: 5px;
  text-align: center;
  padding: 0px 10px;
}

.label {
  font-size: 10px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.467);
  margin: 0;
  text-align: center;
}

.container {
  text-align: center;
}

.name {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.727);
  text-align: center;
  margin-top: 15px;
  margin-bottom: 10px;
  font-weight: bold;
}

.age {
  font-size: 18px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.467);
  text-align: center;
  margin-bottom: 10px;
}

.city {
  font-size: 12px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.467);
  text-align: center;
  margin-top: 0;
}

.logo {
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: rgb(191, 186, 186);
  border: 5px solid white;
  margin-top: -55px;
  margin-left: auto;
  margin-right: auto;
}

.profile-picture {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
